h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.App {
  text-align: center;
}

.App-header {
  padding: 10px;
  z-index: 10000000;
  position: absolute;
  right: 20px;
  top: 0;
  color: #555;
}
.underline {
  text-decoration: underline;
  color: #ff0000;
}

.leaflet-div-icon {
  background: transparent;
  /* border: 1px solid #666; */
  border: none;
}

.emoj {
  font-size: 150%;
}
